---
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "CV" }}>
	<section>
		<h1 class="title mb-6">CV</h1>
		<p class="mb-4">Download:</p>
		<a class="btn" href="/Hamza_Mooraj_CV.pdf" download>Download CV (PDF)</a>
	</section>
</PageLayout>