---
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Publications" }}>
	<section>
		<h1 class="title mb-6">Publications</h1>
		<p class="mb-4">Publication list and preprints. (We’ll fill this next.)</p>
	</section>
</PageLayout>